Release*/
Debug*/
build/
html/
Test-Suite
Release+Asserts/
Debug+Asserts/
autoconf/
tests/result/
doxygen/
.*
!.github/
!.vscode/
!.config.in
!.config.cmake.in
!.gitignore
*~
*.o
*.ll
!Assignment-1/Tests/testcases/*/*.bc
!Assignment-2/Tests/testcases/*/*.bc
!Assignment-3/Tests/testcases/*/*.bc
*.dot
*.out
*.bc
*.opt
*.log
*.status
*.obj
*.svf
cmake-build-debug/
compile_commands.json
